*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* text-align: center; */
    font-family:sans-serif;
    font-weight: 400;
    max-width: 1100;
    font-size: 14px;
    color: #FFF;

}
nav{
    background-color:  #595cfc;
    color: #FFF;
    height: 6vh;
    padding: 8px 300px;
    display: flex;
     justify-content: space-between;

}
header a{
    text-decoration: none;
    color: #FFF;
}
.rightIcon li,
.rightIcon li a{
    text-decoration: none;
    list-style: none;
    color: #fff;
}
.rightIcon ul{
    display: flex;
    justify-content: space-between;
}
.rightIcon ul li{
    padding: 0 15px;
}
.section1{
    /* border: 2px solid red; */
    height: 270px;
    background-color:#2d39e2;
    display: flex;
    padding: 10px 300px;
    box-sizing: border-box;
}
.section1 h3{
    padding-top: 50px;
    font-family: sans-serif;
    font-size: 25px;
    color: #FFF;
    box-sizing: border-box;
    font-weight: 800;
}
.section1 p{
    font-family: sans-serif;
    font-size: 13px;
    padding-top: 13px;
    font-weight: 300;
    line-height: 18px;

}
#testing{
    position: relative;
}
.image img{
    height: 250px;
    position: absolute;
    top: 8px;
    right: 350px;
}
.section2{
    height:300px ;
    padding-left: 300px;
    padding-right:280px;
    padding-top:20px;
    display: flex;
    background-color: #b4cef5;
}
.content{
    height: 140px;
    width: 200px;
    box-sizing: border-box;
    margin-right: 20px;
    border-radius: 8px;
    background-color:#2d39e2 ;
    /* color: #fff; */
    padding: 5px 10px;
    box-sizing: border-box;
   position: relative;
}
.contentitem{
    background-color: #2d39e2;
}
.contentitem ul,
.contentitem ul li{
    display: flex;
    list-style: none;
}
/* 
   .contentitem img{ 
     position: absolute;
     top: 15px;
    left: 7px; 
    height: 25px;
    display: inline-block;
    padding-top: 8px;
   
}   */
.fa-solid{
    position:absolute;
    top:12px;
    left: 10px;
    font-size: 16px;
}
.content h3{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 800;
     padding-left: 20px;
}

.content p{
    font-family: sans-serif;
    font-size: 13px;
    /* font-weight: 300; */
    padding-top: 10px;
    line-height: 15px;
    padding-left: 10px;
} 
#last{
    padding-left: 0;
    font-size: 18px;
}


